
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["msg"]</title>
</head>
<body>
    <div> 
        @ViewData["msg"]
    </div>
</body>
</html>
