@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["msg"]</title>
</head>
<body>
    <div> 
        @ViewData["msg"]<BR><BR>
        <div class="panel-body">
            <TABLE>
                <TR>
                    <TD>ユーザ：</TD>
                    <TD><input type="text" name="user" size="30" maxlength="20"></TD>
                </TR>
                <TR>
                    <TD>パスワード：</TD>
                    <TD><input type="password" name="pass" size="6" maxlength="4"></TD>
                </TR>
            </TABLE>
        </div>
</body>
</html>
